* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


img {
    border-radius: 50%;
    width: 80px;
}

form {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    border: solid 1px #000;
    height: 40px;
    background-color: rgb(38, 152, 222);
    color: white;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    margin: 8px;
    text-decoration: none;
}

hr {
    margin: 12px 0;
}

header{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 100px;
    padding: 8px;
    margin-bottom: 40px;
    background-color: #d9d9d9;
}

.header-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-action {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.header-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    display: flex;
}

.config-action {
    display: flex;
    flex-direction: column;
}