* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: solid 1px #000; */
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f9f9fb;
}

.container {
    width: 900px;
    display: flex;
    flex-direction: column;
}

/* Menu */

header {
    position: sticky;
    position: relative;
    top: 0;
    max-width: 900px;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom,#001358, #175593);
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

header > img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.header-info {
    width: 40%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
}

.header-info h3 {
    font-size: 24px;
    display: flex;
    width: 180px;
}
.header-info h4 {
    font-size: 18px;
    display: flex;
    width: 120px;
}

.header-action {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-action a {
    width: 120px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.header-action .btn-green {
    background-color: #53b781;
}

.header-action .btn-red {
    background-color: #e06767;
}

.header-nav {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-nav a {
    width: 34px;
    height: 34px;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

p > #messages {
    border: solid 1px #fff;
    border-radius: 4px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #df7f25;
    margin: 8px;
    color: #fff;
}


/* Botão menu toggle */

.menu-toggle-checkbox {
    display: none;
}

.menu-toggle-btn {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 40px;
    visibility: hidden;
}

/* Estilo para os traços do botão do menu */
.menu-toggle-lin {
    width: 100%;
    height: 10px;
    border-bottom: solid 5px #fff;
    margin-bottom: 4px;
}

.menu-toggle {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 50%;
    right: 50%;
    height: 100%;
    transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 1;
    padding: 8px 0;
    visibility: visible;
}
.menu-toggle-checkbox:not(:checked) ~ .menu-toggle {
    right: 0;
}
.menu-toggle-checkbox:checked ~ .menu-toggle {
    right: 0;
}


/* Responsividade */

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
    header > img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
    .header-info {
        flex-direction: column;
        align-items: start;
        width: 50%;
    }
    .header-info h3 {
        font-size: 18px;
    }
    .header-action {
        height: 100%;
        width: 100%;    
    }
    .header-nav {
        height: 100%;
        width: 100%;
    }
    .menu-toggle-btn {
        visibility: visible;
    }
    .menu-toggle {
        top: 96px;
        height: 200px;
        border-radius: 0 0 0px 4px;
        flex-direction: column-reverse;
        background-image: linear-gradient(to bottom,#175593, #001358 );
    }
    /* Estilo para esconder o menu quando o input checkbox não está marcado */
    .menu-toggle-checkbox:not(:checked) ~ .menu-toggle {
        display: none;
    }
    /* Estilo para o menu quando o input checkbox está marcado */
    .menu-toggle-checkbox:checked ~ .menu-toggle {
        visibility: visible;
    }
}