/* Main */

main {
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom,#45B6C6, #001251);
}

.lista-post {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-post::-webkit-scrollbar {
    display: none;
  }

.card-post {
    width: 500px;
    border: solid 1px #ddd;
    background-color: #f9f9fb;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 16px;
    list-style: none;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.card-post hr {
    margin-top: 8px;
}

.post-info {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #dbdada;
    border-radius: 4px;
    color: #175593;

}

.post-info h6 {
    font-size: 16px;
}

.post-info a {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    color: #175593;
    margin: 0;
    padding: 0;
}

.card-descricao summary {
    margin-bottom: 4px;
    cursor: pointer;
}

.card-descricao {
    margin-top: 16px;
    min-height: 40px;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 8px;
}

.link-post{
    text-decoration: none;
}

.link-post span {
    margin-right: 8px;
    font-size: 18px;
    color: #175593;
}

.foto-post {
    margin-top: 16px;
    width: 100%;
    min-height: 280px;
}

.comentario {
    margin-top: 8px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.comentario textarea {
    width: 100%;
    margin-right: 8px;
    resize: none;
    padding: 4px;
}

.comentario button {
    width: 40px;
    font-size: 28px;
    cursor: pointer;
}

.interacao-post {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.interacao-post a {
    text-decoration: none;
    width: 100px;
    height: 30px;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    background-color: #175593;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interacao-post .btn-green {
    background-color: #53b781;
}
.interacao-post .btn-red {
    background-color: #e06767;
}
.interacao-post .btn-orange {
    background-color: #df7f25;
}

@media only screen and (max-width: 767px) {
    main {
        width: 100%;
    }
    .card-post {
        width: 95%;
    }

}