.rede {
    display: flex;
    width: 600px;
    overflow-y: auto;
    height: 95%;
}

.rede h3 {
    color: #fff;
    margin-bottom: 8px;
}

.rede hr {
    margin-bottom: 16px;
}

.rede img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    margin-right: 16px;
}

.rede-categoria {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow-y: auto;
    border: solid 1px #fff;
    border-radius: 4px;
    margin-right: 8px;
    padding: 8px;
}

.card-usuario {
    display: flex;
    align-items: center;
    border: solid 1px #fff;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 4px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.card-usuario:hover {
    background-color: #df7f25;
}

.card-usuario li {
    list-style: none;
}