* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    border-radius: 50%;
    width: 80px;
}

hr {
    margin: 12px 0;
}

header{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 100px;
    padding: 8px;
    margin-bottom: 40px;
    background-color: #d9d9d9;
}

.header-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-action {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.header-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rede {
    width: 600px;
    height: 400px;
    display: flex;
    overflow-y: auto;
    background-color: aquamarine;
}

.div-seguindo {
    width: 100%;
}

.div-seguindores {
    width: 100%;
}

.card-usuario {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: solid 1px #000;
    margin: 8px 4px;
    padding: 4px;
    border-radius: 4px;
}

.card-usuario img {
    width: 40px;
}

.card-usuario li {
    list-style: none;
    margin-left: 8px;
}