<!-- header.html -->
<header>
    {% if rota_perfil_usuario %}
        <img src="{{ outro_usuario_info.foto_perfil.url }}" alt="Foto de perfil">
    {% else %}
        <img src="{{ usuario_info.foto_perfil.url }}" alt="Foto de perfil">
    {% endif %}
    <div class="header-info">
        {% if rota_perfil_usuario %}
            <h3>Perfil Usuario: {{ outro_usuario_info.usuario }}</h3>
        {% else %}
            <h3>{{ usuario.username }}</h3>
        {% endif %}
        <div>
            <h4>Seguindo: {{ qtd_seguidos }}</h4>
            <h4>Seguidores: {{ qtd_seguidores }}</h4>
        </div>
    </div>
    <div class="header-action">
        {% if rota_perfil_usuario %}
            {% if esta_seguindo %}
            <a class="btn-red" href="{% url 'nao-seguir-usuario' outro_usuario_info.usuario.id %}">- Não Seguir</a>
            {% else %}
                <a class="btn-green" href="{% url 'seguir-usuario' outro_usuario_info.usuario.id %}">+ Seguir</a>
            {% endif %}
        {% else %}
            <a class="btn-green" href="{% url 'novo-post' %}">+ Novo Post</a>
        {% endif %}
    </div>
    <nav class="header-nav">
        <a href="{% url 'config' %}">⚙️</a>
        <a href="{% url 'perfil-pessoal' %}">🏠</a>
    </nav>
</header>
