<!-- header.html -->
<header>
    <img src="{{ usuario_info.foto_perfil.url }}" alt="Foto de perfil">
    <div class="header-info">
        <h3>{{ usuario.username }}</h3>
        <h4>Seguindo: {{ qtd_seguidos }}</h4>
        <h4>Seguidores: {{ qtd_seguidores }}</h4>
    </div>
    <div class="header-action">
        <a href="{% url 'novo-post' %}">++ Novo Post</a>
    </div>
    <div class="header-nav">
        <a href="{% url 'config' %}">⚙️</a>
        <a href="{% url 'perfil-pessoal' %}">🏠</a>
    </div>
</header>
