<!-- post.html -->
<li class="card-post">
    <div class="post-info">
        <a href="{% url 'perfil-usuario' post.usuario.id %}">
            <img class="foto-perfil" src="{{ post.usuario.usuarioinfo.foto_perfil.url }}" alt="Foto de perfil">
            <h5>{{ post.usuario }}</h5>
        </a>
        <h6>Data: {{ post.data_hora|date:"d/m/y H:i" }}</h6>
    </div>
    <hr>
    <details class="card-descricao">
        <summary>Descrição: {{ post.usuario }}:...</summary>
        <p>{{ post.descricao }}</p>
    </details>
    <a class="link-post" href="{% url 'post-item' post.id %}">
        <img class="foto-post" src="{{ post.imagem.url }}">
        <span>{{ post.qtd_comentarios }} Comentário</span>
        <span>{{ post.qtd_curtidas }} Curtida</span>
    </a>
    <form class="comentario" method="POST" action="{% url 'comentar-post' post.id %}">
        {% csrf_token %}
        <textarea name="comentario" rows="1" placeholder="Comentar:"></textarea>
        <button type="submit" title="Enviar Comentario">📝</button>
    </form>
    <div class="interacao-post">
        {% if rota_meus_posts %}
            <a class="btn-orange" href="{% url 'editar-post' post.id %}">Editar</a>
            <a class="btn-red" href="{% url 'deletar-post' post.id %}">Deletar</a>
        {% else %}
            {% if post.id in posts_curtidos %}
                <a class="btn-green" href="{% url 'nao-curtir' post.id %}">Curtiu</a>
            {% else %}
                <a href="{% url 'curtir-post' post.id %}">Curtir</a>
            {% endif %}
            
            {% if post.id in posts_salvos %}
                <a class="btn-green" href="{% url 'nao-salvar-post' post.id %}">Salvo</a>
            {% else %}
                <a href="{% url 'salvar-post' post.id %}">+ Salvar</a>
            {% endif %}
        {% endif %}  
    </div>
</li>