{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home-login-cadastro.css' %}">
    <title>Login</title>

</head>
<body>
    <main>
        <div class="bk-home">    
            {% include 'partials/_alertas.html' %}
            <a class="link-home" href="{% url 'home' %}" title="Acessar Home">
                <img src="{% static 'assets/img/Home-icon.png' %}" alt="">
            </a>
            <h1>Login</h1>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}   <!-- segurança de formularios -->
                {% for field in form.visible_fields %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% endfor %}
                <button type="submit">Login</button>
                <a href="{% url 'cadastro' %}">Cadastrar</a>
            </form>
        </div>
    </main>
    
</body>
</html>