* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: solid 1px #000; */
}

body {
    display: flex;
    justify-content: center;
    background-color: #f9f9fb;
}

main {
    width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom,#45B6C6, #001251);
}


h1 {
    display: flex;
    height: 60px;
    width: 300px;
    color: #fff;
    font-size: 40px;
    border-bottom: solid 3px #fff;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 320px;
    color: #fff;
}

form input {
    height: 32px;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 14px;
    border: none;
}

form button {
    height: 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #53b781;
    color: #fff;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 16px;
}

form a {
    height: 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #df7f25;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.selecionar-arquivo-imagem {
    height: 38px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #df7f25;
    color: #fff;
    margin-top: 8px;
}

.link-home img {
    width: 32px;
    height: 32px;
    margin-bottom: 40px;
}

.bk-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/bk-home.png');
    background-size: cover; 
}

.btn-acessar {
    text-decoration: none;
    width: 300px;
    height: 40px;
    color: #fff;
    font-size: 24px;
    border-radius: 4px;
    background-color: #53b781;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-acessar:hover {
    background-color: #df7f25;
}

.baner-home {
    width: 300px;
    height: 280;
    margin-top: 40px;
    margin-bottom: 40px;
}