{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/header-bk.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main-post.css' %}">
    <link rel="stylesheet" href="{% static 'styles/buscar-usuarios.css' %}">
    <title>Buscar Usuarios</title>

</head>
<body>
    <div class="container">
        {% include 'partials/header.html' %}
        <main>
            <section>
                <h3>Buscar Usuarios</h3>
                <form action="{% url 'pesquisar-usuarios' %}" method="POST">
                    {% csrf_token %}
                    <input type="search" name="texto-pesquisa" placeholder="Buscar">
                    <button type="submit">Pesquisar</button>
                </form>
                <hr>
                <ul class="lista-usuarios">
                    {% for usuario in usuarios_cadastrados %}
                    <a class="card-usuario" href="{% url 'perfil-usuario' usuario.usuario.id %}">
                        <img src="{{ usuario.foto_perfil.url }}" alt="Foto Perfil">
                        <li>{{ usuario.usuario }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </section>
        </main>
    </div>
</body>
</html>