{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/cadastro.css' %}">
    <title>Cadastro</title>
</head>
<body>
    <h1>Hello World: Cadastro</h1>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'cadastro' %}">Cadastrar</a>
    <a href="{% url 'perfil-pessoal' %}">perfil-pessoal</a>
    <a href="{% url 'perfil-usuario' %}">perfil-usuario</a>
    <a href="{% url 'config' %}">config</a>
    <a href="{% url 'rede' %}">rede</a>
    <a href="{% url 'post-salvo' %}">post-salvo</a>
    <a href="{% url 'meu-post' %}">meu-post</a>
    <a href="{% url 'novo-post' %}">novo-post</a>
    <hr>
    <div>
        <img src="{% static 'assets/img/3_Rob Carsson.png' %}" alt="">
        <button type="button">Add Foto</button>
    </div>
    <form>
        <input type="text" placeholder="Nome">
        <input type="text" placeholder="Sobrenome">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Senha">
        <input type="password" placeholder="Repita a Senha">
        <a href="{% url 'login' %}">Cadastrar</a>
    </form>
</body>
</html>