{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/config.css' %}">
    <title>Config</title>

</head>
<body>
    <div class="container">
        <header>
            <img src="{% static 'assets/img/3_Rob Carsson.png' %}">
            <div class="header-info">
                <a href="">Trocar Foto</a>
            </div>
            <div class="header-nav">
                <a href="{% url 'config' %}">⚙️</a>
                <a href="{% url 'perfil-pessoal' %}">🏠</a>
            </div>
        </header>
    </div>
    <hr>
    <section>
        <div>
            <form>
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="Sobrenome">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Senha Atual">
                <input type="password" placeholder="Senha Nova">
                <input type="password" placeholder="Repita Nova Senha">
                <a href="{% url 'config' %}">Salvar</a>
                <a href="{% url 'logout' %}">Sair</a>
            </form>
        </div>
        <div class="config-action">
            <a href="{% url 'rede' %}">Seguidores</a>
            <a href="{% url 'post-salvo' %}">Posts Salvos</a>
            <a href="{% url 'meu-post' %}">Posts Publicados</a>
        </div>
    </section>
</body>
</html>