{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/editar-post.css' %}">
    <title>Editar Post</title>

</head>
<body>
    <div class="container">
        <header>
            <img src="{{ usuario_info.foto_perfil.url }}" alt="Foto de perfil">
            <div class="header-info">
                <h3>{{ usuario.username }}</h3>
                <h4>Seguindo: <span>1000</span></h4>
                <h4>Seguidores: <span>1000</span></h4>
            </div>
            <div class="header-action">
                <a href="">++ Novo Post</a>
            </div>
            <div class="header-nav">
                <a href="{% url 'config' %}">⚙️</a>
                <a href="{% url 'perfil-pessoal' %}">🏠</a>
            </div>
        </header>
    </div>
    <hr>
    <section>
        <ul>
            <li class="post">
                <div class="post-info">
                    <img src="{{ post.usuario.usuarioinfo.foto_perfil.url }}">
                    <h4>{{ post.usuario }}</h4>
                    <h5>Data: {{ post.data_hora }}</h5>
                </div>
                <hr>
                <form action="{% url 'salvar-post-editado' post.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea placeholder="Descrição Postagem:" name="descricao">{{post.descricao}}</textarea>
                    <input type="file" name="imagem"> <!-- Campo para escolher o arquivo de imagem -->
                    <img class="foto-post" src="{{ post.imagem.url }}">
                    <button type="submit">Salvar</button>
                </form>
            </li>
        </ul>
    </section>
</body>
</html>