{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/header-bk.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main-post.css' %}">
    <link rel="stylesheet" href="{% static 'styles/editar-post.css' %}">
    <title>Editar Post</title>

</head>
<body>
    <div class="container">
        {% include 'partials/header.html' %}
        <main>
            <ul class="lista-post">
                <li class="card-post">
                    <div class="post-info">
                        <img class="foto-perfil" src="{{ post.usuario.usuarioinfo.foto_perfil.url }}" alt="Foto Perfil">
                        <h4>{{ post.usuario }}</h4>
                        <h5>Ultima Edição: {{ post.data_hora|date:"d/m/y H:i" }}</h5>
                    </div>
                    <hr>
                    <form action="{% url 'salvar-post-editado' post.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea placeholder="Descrição Postagem:" name="descricao">{{post.descricao}}</textarea>
                        <label for="inputFile" class="selecionar-arquivo-imagem">
                            <span>Imagem Post: </span>
                            <input type="file" id="inputFile" name="imagem" />
                        </label>
                        <img class="foto-post" src="{{ post.imagem.url }}" alt="Foto Post">
                        <button type="submit">Salvar</button>
                    </form>
                </li>
            </ul>
        </main>
    </div>
</body>
</html>