{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <title>Login</title>

</head>
<body>
    <h1>Hello World: Login..</h1>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'cadastro' %}">Cadastrar</a>
    <a href="{% url 'perfil-pessoal' %}">perfil-pessoal</a>
    <a href="{% url 'perfil-usuario' %}">perfil-usuario</a>
    <a href="{% url 'config' %}">config</a>
    <a href="{% url 'rede' %}">rede</a>
    <a href="{% url 'post-salvo' %}">post-salvo</a>
    <a href="{% url 'meu-post' %}">meu-post</a>
    <a href="{% url 'novo-post' %}">novo-post</a>
    <hr>
    <form>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Senha">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'cadastro' %}">Cadastrar</a>
    </form>
    
</body>
</html>