{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/meu-post.css' %}">
    <title>meus-posts</title>

</head>
<body>
    <div class="container">
        <header>
            <img src="{% static 'assets/img/3_Rob Carsson.png' %}">
            <div class="header-info">
                <h3>Nome perfil</h3>
                <h4>Seguindo: <span>1000</span></h4>
                <h4>Seguidores: <span>1000</span></h4>
            </div>
            <div class="header-action">
                <a href="">++ Novo Post</a>
            </div>
            <div class="header-nav">
                <a href="{% url 'config' %}">⚙️</a>
                <a href="{% url 'perfil-pessoal' %}">🏠</a>
            </div>
        </header>
    </div>
    <hr>
    <section>
        <div class="post">
            <div class="post-info">
                <img src="{% static 'assets/img/3_Rob Carsson.png' %}">
                <h4>Nome Usuario</h4>
                <h5>Data:</h5>
            </div>
            <hr>
            <textarea cols="30" rows="3" placeholder="Texto:"></textarea>
            <img class="foto-post" src="{% static 'assets/img/Django.jpg' %}">
            <form>
                <textarea rows="1" placeholder="Comentar:"></textarea>
                <a href="#">📝</a>
            </form>
            <div>
                <a href="#">Curtir</a>
                <a href="#">Salvar</a>
                <a href="#">10 comentarios</a>
            </div>
        </div>
    </section>
</body>
</html>