{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/header-bk.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main-post.css' %}">
    <title>Meus Posts</title>
</head>
<body>
    <div class="container">
        {% include 'partials/header.html' %}
        <main>
            <ul class="lista-post">
                {% for post in meus_posts %}
                    {% include 'partials/post.html' %}
                {% endfor %}
            </ul>
        </main>
    </div>
</body>
</html>