{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/header-bk.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main-post.css' %}">
    <link rel="stylesheet" href="{% static 'styles/novo-post.css' %}">
    <title>novo-post</title>

</head>
<body>
    <div class="container">
        {% include 'partials/header.html' %}
        <main>
            <div class="card-post">
                <div class="post-info">
                    <a href="{% url 'perfil-usuario' usuario.id %}">
                        <img class="foto-perfil" src="{{ usuario.usuarioinfo.foto_perfil.url }}" alt="Foto de perfil">
                        <h4>{{ usuario }}</h4>
                    </a>
                    <h5>- -</h5>
                </div>
                <hr>
                <form action="{% url 'salvar-post-novo' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="inputFile" class="selecionar-arquivo-imagem">
                            <span>Imagem Post: </span>
                            <input type="file" id="inputFile" name="imagem" />
                        </label>
                    </div>
                    <textarea cols="30" rows="10" placeholder="Descrição Postagem:" name="descricao"></textarea>
                    <button class="btn-green" type="submit">Publicar</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>