{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/header-bk.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main-post.css' %}">
    <link rel="stylesheet" href="{% static 'styles/perfil-usuario.css' %}">
    <title>perfil-usuario</title>
</head>
<body>
    <div class="container">
        {% include 'partials/header.html' %}
        <hr>
        <section>
            <ul>
                {% for post in posts_usuario %}
                {% include 'partials/post.html' %}
                {% endfor %}
            </ul>
        </section>
    </div>
</body>
</html>