{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/rede.css' %}">
    <title>rede</title>

</head>
<body>
    <div class="container">
        <header>
            <img src="{% static 'assets/img/3_Rob Carsson.png' %}">
            <div class="header-info">
                <h3>{{ usuario.username }}</h3>
                <h4>Seguindo: <span>1000</span></h4>
                <h4>Seguidores: <span>1000</span></h4>
            </div>
            <div class="header-action">
                <a href="">++ Novo Post</a>
            </div>
            <div class="header-nav">
                <a href="{% url 'config' %}">⚙️</a>
                <a href="{% url 'perfil-pessoal' %}">🏠</a>
            </div>
        </header>
    </div>

    <hr>
    <section>
        <div>
            <h3>Seguindo</h3>
            <ul>
                {% for seguindo in seguidos %}
                    <li>{{ seguindo.seguido.username }}</li>
                {% endfor %}
            </ul>
            </div>
            <div>
                <h3>Seguidores</h3>
                <ul>
                    {% for seguidor in seguidores %}
                        <li>{{ seguidor.seguidor.username }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</body>
</html>